<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Chi Siamo</title>
    <!-- CSS only -->
<link rel="stylesheet" href="/static/css/bootstrap.min.css" >
</head>
<body>
<!--Navigation Bar start -->


<nav class="navbar navbar-expand-lg navbar-light bg-light py-3 py-lg-0">
  <div class="container-fluid">
    <a class="navbar-brand" href="Home"><h1 class="m-0">StudyTogheter</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="navbar-nav mx-auto py-0">
                        <a href="Home" class="nav-item nav-link">Home</a>
                        <a href="Chi Siamo" class="nav-item nav-link active">Chi Siamo</a>
                        <a href="Servizi" class="nav-item nav-link">Servizi</a>
                        <a href="Contatti" class="nav-item nav-link">Contatti</a>
                    </div>
                    <a href="Studiamo" class="nav-item nav-link navbar-nav btn rounded-pill ml-0 d-lg-block"><button type="button" class="btn btn-primary">Studiamo!</button></a>
    </div>
  </div>
</nav>
<!--Navigation Bar End -->

              <div class="container-fluid py-5 px-lg-5">
                  <hr/>
                    <h1 class="text-center">Chi Siamo</h1>
                  <hr/>
              </div>

<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="col-md-6 col-xs-6 text-right">
            <img src="/static/Immagini/foto.jpeg" style="height: 340px; width: 280px" class="img-fluid"/>
        </div>
        <div class="col-md-6 col-xs-6">
            <h2>Claudio Silvestri</h2>
            <h2>Matricola: 0124002061</h2>
            <h2>Studente di Informatica</h2>
        </div>
   </div>
</div>

<div class="container py-5 px-lg-5">
    <h4 class="text-center mb-5">Silvestri Claudio è uno studente informatico.
        E' nato a Napoli nel 1997 da una famiglia semplice che vive nelle vecchie strade di Napoli.
        Fin da bambino ha avuto un legame speciale con l'informatica e in particolare con la creazione di app e
        videogiochi.
        Ha intrapreso gli studi informatici a partire dalle scuole superiori e infatti, ha frequentato l'Istituto tecnico
        informatico statale Alessandro Volta.
        Studia all'università Parthenope di Napoli e con la sua determinazione ha avuto la possibilità
        di studiare alla Apple Foundation e alla Apple Academy.
        L'idea di questo progetto è nata per l'esame "Tech Web" che lo ha spinto a creare una WebApp.
    Aspira a diventare un Game Developer ma nel frattempo il suo obiettivo è portare a termine il suo percorso universitario.</h4>
    <h5 class="text-center">Mail: claudio.silvestri001@studenti.uniparthenope.it</h5>
</div>

        <!-- Footer Start -->
        <div class="container-fluid bg-light text-black footer wow fadeIn" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-5">
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-black h5 mb-4">Quick Link<span></span></p>
                        <a class="btn btn-link" href="Servizi">Servizi</a><br>
                        <a class="btn btn-link" href="Chi Siamo">Chi Siamo</a><br>
                        <a class="btn btn-link" href="Contatti">Contattaci</a><br>
                        <a class="btn btn-link" href="Studiamo">Studiamo!</a><br>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-black h5 mb-4">Studente<span></span></p>
                        <p>Silvestri Claudio</p>
                        <p>Matricola: 0124002061</p>
                        <p>Mail: claudio.silvestri001@studenti.uniparthenope.it</p>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <p class="section-title text-black h5 mb-4">Social<span></span></p>
                        <a class="btn btn-link" href="">Facebook</a><br>
                        <a class="btn btn-link" href="">Instagram</a><br>
                        <a class="btn btn-link" href="">Twitter</a><br>
                        <a class="btn btn-link" href="">Discord</a><br>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/js/bootstrap.js"></script>
</body>
</html>